{
  "printWidth": 100,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "parser": "flow",
  "semi": false,
  "useTabs": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid"
}
